html{
background: rgb(238,238,238);
background: linear-gradient(90deg, rgb(0, 204, 204) 33%, rgb(242, 135, 115) 70%);
}

body{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 700px 20px;
  border: 5px solid white;
}
.container {
  align-items: center;
  margin: auto;
  display: flex;

}
.container2 {
  align-items: center;
  margin: auto;
  display: flex;
}
.container3 {
  align-items: center;
  margin: auto;
  display: flex;
}
.container4 {
  align-items: center;
  margin: auto;
  display: flex;
}
.container5 {
  align-items: center;
  margin: auto;
  display: flex;
}
img.fleecha{
display: block;
height: 40px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 28%;
top:120%;
}
img.fleecha2{
display: block;
height: 40px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 40%;
top:120%;
}
/*las flechas */
img.barra3{
display: block;
height: 56px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 28.7%;
top:130%;
}
