html{
background: rgb(238,238,238);
background: linear-gradient(90deg, rgb(0, 204, 204) 33%, rgb(242, 135, 115) 70%);
}

body{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 300px 20px;
  border: 5px solid white;
}
img.barraaa{
  display: block;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  float: left;
  width: auto;
  position: absolute;
  left: 40%;
  top: 2%;
  overflow: auto;
  display: flex;
 justify-content: center;
}
.container {
  align-items: center;
  margin: auto;
  display: flex;

}
.container  img{
  align-items: center;
  margin: 34px;

  display: flex;

}
.container2 {
  align-items: center;
  margin: 24px;

  display: flex;

}
.container2  img{
  align-items: center;
  margin: 34px;

  display: flex;

}
.container3 {
  align-items: center;
  margin: auto;
  display: flex;
}
.container3  img{
  align-items: center;
  margin: 34px;

  display: flex;

}

img.fleecha{
display: block;
height: 40px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 28%;
top:144%;
}
img.fleecha2{
display: block;
height: 40px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 40%;
top:144%;
}

img.barra3{
display: block;
height: 56px;
align-items: center;
float: left;
width: auto;
position: absolute;
left: 28%;
top:143%;
}
h2{
  margin: 0;
  font-size: 19px;
  padding: 20px 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  line-height: 50px;
  text-transform: full-width;
  text-align: center;
  float: left;
  width: auto;
  position: absolute;
  left: 40%;
  top: 120%;
}
